[2015-08-26 01:50] jvliwanag opened #1 "Unrecoverable error when running first against a non-running site"
Steps to recreate:
1. Open GraphiQL binary. Point it to a url that's currently not running.
2. Type in a syntactically valid graphql query: e.g. '{ a }'
3. Press the 'Play' button.
4. Start up your graphql server. Change the URL.
5. Re-run your query. Currently, no output is produced. On the JS console the following error appears:

[code]

Restarting the app doesn't help.

Workaround:

1. `rm -Rf

[2015-08-26 01:55] skevy commented on #1
Interesting. I'll look into this. Thanks for reporting!

[2015-09-02 23:58] KyleAMathews commented on #1
Ran into this as well.

[2015-09-05 14:39] skevy commented on #1
Interesting that you guys are saying this is unrecoverable. I get the error (which happens in GraphiQL btw, not in my code), but as soon as I change the URL again (which refreshes the editor), I'm able to complete the query successfully. This is still failing hard for you guys even on the latest version?

[2015-09-05 14:41] skevy commented on #1
In general though, I feel like we're running into this error: https://github.com/graphql/graphiql/issues/16

[2015-09-05 19:17] #1 closed

[2015-09-05 20:15] skevy commented on #1
@KyleAMathews @jvliwanag just FYI this is released in https://github.com/skevy/graphiql-app/releases/tag/v0.2.0

[2015-09-05 21:25] KyleAMathews commented on #1
Woot! It's working! Thanks!
![screen shot 2015-09-05 at 2 25 20 pm](https://cloud.githubusercontent.com/assets/71047/9701366/0205663c-53da-11e5-8e3e-397f81f55607.png)

[2015-09-05 21:28] skevy commented on #1
:+1:

[2015-09-08 17:24] KyleAMathews opened #2 "Feature request: Response time + size"
e.g. 58ms, 1.2kb. Perhaps add next to the "play" button.

[2015-09-08 17:25] KyleAMathews commented on #2
Though now that I think about it, this is a feature request for GraphiQL correct?

[2015-09-08 17:27] KyleAMathews commented on #2
Created issue in Graphiql repo https://github.com/graphql/graphiql/issues/29

[2015-09-08 17:32] skevy commented on #2
Cool. Let's leave this open though so I can make sure to include it.

[2015-09-22 18:38] KyleAMathews opened #3 "Upgrade to latest GraphiQL"
Want me some built-in docs explorer :)

[2015-09-23 08:55] heracek commented on #3
:+1:

[2015-09-29 07:21] jvliwanag commented on #1
Took me a long time to check back on this. But everything's working great with the latest release! :+1:

[2015-10-02 20:36] #3 closed

[2015-10-03 00:01] KyleAMathews opened #6 "Feature: documentation tab"
The slide-in documentation built into GraphiQL is nice but not ideal. Since we have a standalone app, it'd be easy to add a large dedicated documentation section.

Goals in no particular order (feel free to add yours):

* See at a glance the overall structure of types, etc. Perhaps the initial screen is a "table of contents" like navigation which shows the overall structure of the schema.
* built-

[2015-10-03 23:37] KyleAMathews opened #7 "Feature: model diagram chart"
Perhaps using something like JointJS http://www.jointjs.com/demos/umlcd

[2015-10-03 23:38] KyleAMathews commented on #7
This and #6 together (hyperlinks between the two) would be amazing.

[2015-10-12 15:14] KyleAMathews commented on #7
https://github.com/Macroz/GraphQLviz — early effort here

[2015-11-08 00:48] tberman opened #8 "GET doesn't work"
When I switch over to GET, I receive:

[code]

in the response window.

[2015-11-09 13:52] soosap opened #9 "SyntaxError: Unexpected end of input"
Receiving `SyntaxError: Unexpected end of input` while making this minimum viable test:
a) GraphQL endpoint: http://graphql-swapi.parseapp.com/graphiql
b) method: POST
c) query:
[code]
Suggestions?

[2015-11-09 14:12] soosap commented on #9
Taking that back. Seems the endpoint was indeed returning this SyntaxError. Nothing wrong w/ your app. Below a introspection query that works for this endpoint.
[code]

[2015-11-09 14:12] #9 closed

[2015-11-17 05:50] sulliwane opened #10 "Linux support"
I downloaded the source (.tar.gz) entered directory and ```npm install && npm start``` and I get this:

![screenshot from 2015-11-17 13 45 16](https://cloud.githubusercontent.com/assets/1733686/11203758/1b7a936c-8d32-11e5-8657-fb05e682f11a.png)

Thanks for you suggestions :)

[2015-11-17 06:00] KyleAMathews commented on #10
Was there any console errors? (Open the dev tools)
On Mon, Nov 16, 2015 at 9:50 PM sulliwane <notifications@github.com> wrote:

[2015-11-17 06:02] sulliwane commented on #10
![screenshot from 2015-11-17 14 01 37](https://cloud.githubusercontent.com/assets/1733686/11203905/e5daf510-8d33-11e5-80ca-aab58d84e298.png)

[2015-11-17 06:03] sulliwane commented on #10
I downloaded the source code from here: https://github.com/skevy/graphiql-app/releases

[2015-11-17 06:35] KyleAMathews commented on #10
Try cloning. No idea if that makes a difference here but worth a shot.
On Mon, Nov 16, 2015 at 10:03 PM sulliwane <notifications@github.com> wrote:

[2015-11-17 06:45] jvliwanag commented on #10
Hm. Maybe missed the `npm run build` step?

[2015-11-17 07:11] sulliwane commented on #10
[code]

[2015-11-17 07:13] sulliwane commented on #10
@KyleAMathews I tried cloning master, ```npm install && npm start``` , same blank window

[2015-11-18 00:06] skevy commented on #10
@sulliwane i'm sure we can get this fixed. I don't have a linux dev env, so I'll have to spin up a VM. But I can work on this either today or tomorrow.

[2015-11-18 03:48] sulliwane commented on #10
@skevy great, If I can be helpful in any way, just tell me.

[2015-12-07 07:48] Dermah opened #11 "Modifying HTTP Headers"
It would be handy to be able to edit the keys and/or values of the existing HTTP headers, without having to delete and re-enter both key and value.

I'm trying to add this feature on my own fork, but I haven't been able to get the app to start yet. I managed to get it building by `npm link`ing to a freshly cloned `graphiql` repository but the app throws an error when it trying to load the `QueryEd

[2015-12-12 09:17] zuhair-naqvi opened #12 "Uncaught TypeError: Cannot read property 'types' of undefined"
When I launch the app and point to a valid graphql endpoint i get:

TypeError: Cannot read property 'types' of undefined
    at Object.r (file:///Users/zuhairnaqvi/Downloads/GraphiQL.app/Contents/Resources/app/dist/bundle.js:31:10486)
    at file:///Users/zuhairnaqvi/Downloads/GraphiQL.app/Contents/Resources/app/dist/bundle.js:20:14843

The endpoint is working when used directly.

[2015-12-16 02:08] Solowave commented on #10
I believe I am having a similar issue if not the same on windows. Should all I have to do is clone, npm install, npm start?(with a npm run build?) I get errors on install/build and when I do npm start it opens a blank graphiql window.  If you need me to post errors or anything else just let me know

[2015-12-16 02:39] sulliwane commented on #10
I solved the problem by running the app on mac, and then copy the content of dist folder (two files: bundle.js and main.css) from mac computer to my linux computer (same folder). It's these two files that can't get created on npm build (error).

[2015-12-16 02:47] Solowave commented on #10
Ahh, I have no mac available. Hopefully there might be another fix

[2015-12-16 06:20] sulliwane commented on #10
[dist.zip](https://github.com/skevy/graphiql-app/files/63598/dist.zip)

[2015-12-16 17:59] Solowave commented on #10
Hey man thanks so much!  Spent so long yesterday trying to fix it.  Just a note when I npm run build I am still getting the errors cannot resolve module 'graphiql/graphiql.css' or graphiql/dist.  But as long as its working I'm happy.  This fix should probably be put in the read me for windows/linux users

[2016-01-05 00:40] tinnou commented on #10
I'm having the same exact issue and I'm on a mac @skevy. The workaround only allows us to run the app from source but we still can't change the source itself as we are overwriting the `bundle.js` file. I tried with node v4.24 and v5.3.0

[2016-01-11 00:13] tinnou commented on #10
Ok i think i found the reason. This commit https://github.com/skevy/graphiql-app/commit/1e4700b2e201967b2db515fa20a3b3def4f3e275 replaced back some dependencies on graphiQL. Replacing from `"skevy/graphiql#redbox"` to `"^0.3.0"` and re-run `npm install` and `npm run build` did the trick for me.

[2016-01-11 23:24] F21 opened #14 "Cannot build on windows."
I am using `node 5.4.0` and `python 2.7.1` on `Windows 10 64-bit`.

After cloning the repo, I ran `npm install`. During install, `nslog` fails:
[code]

[2016-01-25 03:34] F21 commented on #14
`node-gyp` was not installed properly. See instructions here: https://github.com/nodejs/node-gyp#installation

[2016-01-25 03:34] #14 closed

[2016-01-25 04:41] skevy commented on #14
Yah - node-gyp is a pain. Glad you figured it out!

[2016-01-25 04:42] skevy commented on #11
I hear you on this. I want it myself.

I'm planning to work on rewriting this into something more maintainable in the near future (I wrote the version that exists now in about an hour after GraphiQL first came out). So hopefully that will solve this (and other) issues. :)

[2016-01-25 04:43] skevy commented on #12
That's very strange. I haven't seen this one. There shouldn't be anything in this app that would cause that particular issue (though I could be mistaken)...have you tried with the latest version of normal ol' GraphiQL?

[2016-01-25 04:45] skevy commented on #10
I'm going to be working on getting this app into a more maintainable state in the near future.

Hopefully that will resolve the issues people are running into on this thread. Sorry for all the trouble.

[2016-01-25 04:45] skevy commented on #8
I missed your PR - I'll take a look now.

[2016-01-25 04:46] skevy commented on #8
Fixed by #13.

[2016-01-25 04:46] #8 closed

[2016-01-25 05:08] F21 commented on #10
Just tried building on Ubuntu 15.10 with nodejs 5.5.0 and ran into the same problem as @sulliwane:

[code]

[2016-01-25 05:41] F21 opened #15 "Webpack build stalling on windows"
I am running node 5.5.0 on Windows 10 64-bit.

To deal with the error where webpack complains about missing files from the `graphiql` package, I changed `graphiql` in `package.json` to `^0.3.0`.

That allowed me to build properly on Ubuntu 15.10, but the build process stalls on Windows:

[code]

It has been stuck at 95% for the last hour. As a work around, I am running `npm run package-all` on Ubu

[2016-02-06 20:12] KyleAMathews commented on #6
Not worth doing this separately. GraphiQL core docs explorer is progressing nicely.

[2016-02-06 20:12] #6 closed

[2016-02-07 02:40] KyleAMathews opened #17 "New release?"
@kevinold @skevy should we make a new release? Especially with the new Brew Cask integration.

[2016-02-07 02:51] kevinold commented on #17
I need to fix one more bug. Seeing an error when launching the latest build. Will get a fix in the next few days.

[2016-02-07 02:51] kevinold commented on #17
Or if you're able to fix go for it @KyleAMathews. As soon as you launch it you'll see in the results panel.

[2016-02-07 02:53] KyleAMathews commented on #17
:+1: probably won't get to it. Got to get Gatsby in ship-shape for React conf!

[2016-02-11 18:34] standayweb opened #20 "When changing tabs your query stays the same"
When you switch tabs or add a new tab it only allows one query between tabs, you should be able to have different queries open.

[2016-02-12 00:42] holmesal commented on #20
Seeing this as well - there is currently only one query, shared by all tabs - changes made in one tab apply to other tabs as well.

[2016-02-17 15:15] tinnou opened #21 "Introspection query no longer works with GET"
When used with GET, the introspection query sends `variables=undefined`. `undefined` being not valid JSON, it makes the request somewhat invalid.

[2016-02-17 15:17] tinnou opened #22 "Endpoint with preexisting query string parameters no longer works with GET"
Using an endpoint such as `http://my-server.com/graphql?a=b` with GET will result in a request url sent as `http://my-server.com/graphql?a=b?query....`

[2016-02-20 20:43] mathieumg commented on #10
Same issue here with `master`. Ubuntu 14.04 x64 and Node 0.10.

[2016-02-23 05:36] Deadarius opened #24 "Brew doesn't work"
[code]

[2016-03-02 16:06] akeating opened #25 "brew version broken?"
First thing I see when launching the version installed by homebrew today is:
[code]

[2016-03-02 16:15] akeating commented on #25
Ah I think this refers to an invalid endpoint.

[2016-03-02 16:15] #25 closed

[2016-03-06 17:13] donnrri commented on #15
Yes I too have this problem.  Does anyone know how to fix this ?  Cheers

[2016-03-15 11:21] frederickfogerty commented on #24
@tribou just ran `brew update ; brew cask install graphiql` to no avail. Same error as OP.

[2016-03-15 20:31] Deadarius commented on #24
It was actually a brew cask error. Sorry that I haven't updated issue at the time but now cask is part of brew, so you have to:
[code]

[2016-03-20 18:40] timofischer81 commented on #15
me too

[2016-03-30 13:00] vshy108 commented on #10
Ubuntu 15.10 x64, node 5.5.0,
I success to make it work.
npm install, npm run build,
then replace the main.css and bundle.js inside dist/ folder with
dist.zip from
@sulliwane commented on Dec 16, 2015
Thank you.

[2016-04-05 08:18] matthewmueller opened #26 "when endpoint is undefined, the app is blank"
I'm not sure why this occurs, but the solution was to clear out localstorage in the app.

[2016-04-18 23:15] KyleAMathews opened #27 "Get around err_insecure_response errors for a self-signed cert?"
Any idea how to get around err_insecure_response errors? In the browser I'd be able to just dangerously go forward but can't figure out an easy way to do this in an Electron app. Googling suggests the only way to do this is to start the app with `--ignore-certificate-errors` flag (which I'm not sure gets passed correctly to Chromium)

* http://stackoverflow.com/questions/22083453/console-errors-fa

[2016-05-23 11:46] F21 opened #29 "Error: Cannot find module 'app'"
I am building the master on Ubuntu 16.04 with `npm 3.9.2` and `node 6.2.0`.

I am building using the following steps:
1. `npm install`
2. `npm run build`
3. `npm run package-all`

The resulting built packages does not run properly on Windows or Linux. I did not have a mac to test.

After running `GraphiQL.exe` `./GraphiQL`, I get this error:

[code]

[2016-05-23 16:39] KyleAMathews commented on #29
Not really sure but is that how you run a Electron app?

[2016-05-23 22:22] F21 commented on #29
Yes, I was able to build a previous release a few months ago. Running `GraphiQL.exe` in the windows package worked.

I was able to find a workaround:
1. `npm install`.
2. `npm run build`. At this point, the build will get stuck on windows at 95%. See #15.
3. Cancel the build (ctrl-c).
4. Run `npm run start`.

The work around works on both Windows and Linux, but doesn't allow me to build any distri

[2016-06-09 20:31] skevy opened #32 "Release 0.4.2"
Waiting on the following PR's to merge into GraphiQL (presumably causing a release of graphiql@0.7.3).

- [x] https://github.com/graphql/graphiql/pull/144
- [x] https://github.com/graphql/graphiql/pull/145

[2016-06-14 20:15] rturk opened #33 "Can you please clarify that this awesome code is released under MIT?"
Hi, can you please clarify that this code is released under MIT licensing?
Package.json includes a mention to "license": "MIT", however there is not a tradicional license file.
tks

[2016-06-14 20:30] gjtorikian commented on #33
Added in https://github.com/skevy/graphiql-app/commit/4171e39591612027bef122c2429f5d08d16cf5aa.

Thanks!

[2016-06-14 20:30] #33 closed

[2016-07-07 11:43] sibelius opened #34 "I'm having the following error neither GET or POST work"
[code]

[2016-07-25 23:57] vning93 opened #35 "Introspection query should be updated to include Subscriptions"

[2016-07-28 19:24] webular opened #36 "Can't edit headers anymore..."
Having an issue where the app seems stuck.  I can’t add or delete any tabs.  When I try I don't get any kind of feedback.  My main problem though is that I can’t seem to be able to edit headers anymore.  When I click the "Edit HTTP Headers"  link I get nothing.  I’ve tried deleting and reinstalling the app.  But I get the exact same thing.  Any suggestions?  Is there a log file I can checkout or s

[2016-07-28 23:43] webular commented on #36
I got this working again by clicking on

- View -> Toggle Developer Tools
- Click on resources in the dev tools
- Click on Local Storage in the left hand menu
- Click on file://
- Delete all the keys by highlighting them and clicking the 'x' at the bottom.

Doing this reset the app and everything started working again.  Hope this helps someone else with the same issues.

I'll close this issue.

[2016-07-28 23:43] #36 closed

[2016-07-31 14:35] GuillaumeLeclerc commented on #10
It works fine on my Linux setup with the current master branch

- clone
- `npm install`
- `npm run build`
- `npm run start`

[2016-07-31 14:38] GuillaumeLeclerc commented on #34
Are you sure your endpoint is up and running ?

[2016-07-31 19:14] gjtorikian commented on #21
fixed above

[2016-07-31 19:14] #21 closed

[2016-07-31 19:14] #24 closed

[2016-08-01 19:44] gjtorikian commented on #32
Both https://github.com/graphql/graphiql/pull/144 and https://github.com/graphql/graphiql/pull/143 have been merged, so I think that gets us going for a `0.4.2`.

[2016-08-04 02:19] #10 closed

[2016-08-05 04:44] #17 closed

[2016-08-08 13:28] sibelius commented on #34
yep, it is up and running

[2016-08-08 13:28] sibelius commented on #34
I'm using El Captation macosx

[2016-08-08 13:53] sibelius opened #38 "Error on `npm start`"
I'm receiving this error when I try to run using `npm start`

`/Library/Caches/com.apple.xbs/Sources/AppleGVA/AppleGVA-9.1.12/Sources/Slices/Driver/AVD_loader.cpp: failed to get a service for display 3 `

I'm using node 6.2.1, on macosx El Captain

[2016-08-08 13:58] sibelius commented on #38
running `npm run build` before worked

[2016-08-08 13:58] #38 closed

[2016-08-08 13:59] sibelius commented on #34
it was missing `https://` before graphql endpoint

it should throw a better error though

[2016-08-08 13:59] #34 closed

[2016-08-16 14:43] Aides359 commented on #15
I am experiencing this issue on windows as well without using this lib so this might be a more general problem.

[2016-08-20 21:01] kevinold commented on #32
@skevy I pushed up #39 and can merge and do a release if you give the 👍 .  Let me know.

[2016-08-26 05:26] skevy commented on #32
Sorry I didn't see this @kevinold @gjtorikian! Updating now

[2016-08-26 05:50] skevy commented on #32
Released!

[2016-08-26 05:50] #32 closed

[2016-09-10 05:04] tonyxiao opened #40 "Send cookie via withCredentials option"
When I add a custom header for `Cookie` it doesn't seem to work and gets automatically stripped before hitting the server. I think we need to enable `withCredentials` option in `fetch`.

[2016-09-21 06:30] prijindal commented on #15
Even i am facing this issue on windows. any fix?

[2016-09-22 02:42] ljh131 commented on #27
try
[code]

[2016-10-15 05:57] #40 closed

[2016-10-18 17:20] lucasbento commented on #20
This doesn't appear to be happening anymore.

I think we can close this.

cc @skevy.

[2016-10-19 04:06] skevy commented on #20
Awesome! Yah I fixed this in 0.4.2

[2016-10-19 04:06] #20 closed

[2016-10-27 00:22] jarjis commented on #38
can please share what fixed the issue ?

[2016-10-27 09:41] sibelius commented on #38
Make sure ur URL has http:// in the beginning

[2016-10-28 08:01] linjunpop commented on #34
That's really confusing.

[2016-11-07 22:57] holmesal opened #45 "Query loses recent edits when changing headers"
Thanks for this excellent project 👍

I've noticed a minorly-annoying behavior where the query seems to revert to an earlier version of itself when changing headers:

1. Edit the GraphQL query.
2. Try to run it and it fails (bad auth header).
3. Go change the auth header.
4. The query reverts to what it was before the edit in (1).

Hopefully that makes sense. I can screencap if not.

I actually run

[2016-12-28 13:32] sibelius opened #48 "Variables are invalid JSON"
I'm receiving the error: `Variables are invalid JSON.` when I try to use the following mutation

[code]

[code]

The same mutation works fine on browser

[2016-12-28 17:05] bswinnerton commented on #48
👋 @sibelius,

Is is possible you have a malformed set of variables in the "Query Variables" section of GraphiQL?

[2016-12-28 17:22] sibelius commented on #48
hard error to debug, tks for ur response

there were some old variable inside "Query Variables" tks

[2016-12-28 17:22] #48 closed

[2016-12-31 09:51] vcarel opened #49 "Error when building the application"
I tried to build the application:

    npm install
    npm run build

But I got the following error:

    ERROR in Entry module not found: Error: Cannot resolve module 'react/lib/ReactComponentBrowserEnvironment' in /.../graphiql-app-0.4.2

I beleive that's because this component has been moved to react-dom since react 15.1.0. To work-around this issue, I changed the package.js so to stick to this

[2016-12-31 09:59] vcarel commented on #49
To solve the latter issue (with electron), I did as proposed in this issue: https://github.com/electron-userland/electron-prebuilt/issues/76

[2017-01-10 14:15] pranav1hivarekar commented on #15
Any way to get it working on windows ?

[2017-01-17 18:46] #49 closed

[2017-01-17 19:35] slavikshen commented on #38
I have the same issue

/Library/Caches/com.apple.xbs/Sources/AppleGVA/AppleGVA-10.1.5/Sources/Slices/Driver/AVD_loader.cpp: failed to get a service for display 4

The urls are right.  But the electron just fail.  And it seem that the console.log is not working even with --enable-logging

I guess something must be wrong before the loading code.

[2017-02-03 11:11] feri42 opened #52 "Variables are invalid JSON with GET request - regression"
When sending a GET request (app version 1.4.15), the app reports:
{
      "message": "Variables are invalid JSON.",
      "name": "BadRequestError",
      "stack": "BadRequestError: Variables are invalid JSON.\n    at parseGraphQLParams (/Users/feri/Projects/IOW/IOW/app/node_modules/express-graphql/dist/index.js:254:38)\n    at /Users/feri/Projects/IOW/IOW/app/node_modules/express-graphql/dist/ind

[2017-02-27 14:41] intellix opened #53 "403 The origin "null" is not authorized"
Our API server implements CORS where we whitelist particular Origin headers. GraphiQL App is sending an `origin` of `null` which means we can't whitelist this application in particular.

Each time I work on our API I just have to disable CORS and it would be nice if GraphiQL App at least provided something here.

[2017-03-06 00:07] allanhortle opened #54 "Command H to replace conflicts with OSX's hide function."
It works if you spam it twice, but it's kind of annoying to do.

[2017-03-06 23:37] gjtorikian opened #55 "Multiple operation names are unrunnable"
![image](https://cloud.githubusercontent.com/assets/64050/23635136/d338807e-0282-11e7-94aa-eda287444935.png)

Although the operations are selectable, they are not actually runnable.

[2017-03-07 17:39] gjtorikian commented on #55
Sorry. Bug in my server, not the client.

[2017-03-07 17:39] #55 closed

[2017-03-21 00:25] timscott opened #56 "Wrong Version Number"
Click "About GraphQL" on version 0.5.0 and it shows 1.4.15 (1.4.15).

[2017-03-21 14:46] intellix commented on #53
Related: https://github.com/electron/electron/issues/7931

[2017-04-12 23:40] AshleyRodanHP commented on #56
Bump thought i was going crazy

[2017-05-03 15:22] MichelDiz opened #59 "Windows support?"
I'm trying to use your project at windows 10.

But get errors.

Best regards

[2017-05-16 08:26] jeroenbe opened #61 "Build Failing"
I'm fear I know nothing about TravisCI, but it seems to me travis is failing on a test that has absolutely nothing to do with the given pull requests ([build 12](https://travis-ci.org/skevy/graphiql-app/builds/161704675), [build 16](https://travis-ci.org/skevy/graphiql-app/builds/186313236), [build 29](https://travis-ci.org/skevy/graphiql-app/builds/232729060)) -> open pull requests.

[code]

[2017-05-30 19:11] rmosolgo commented on #11
Has this been addressed? I'm happy with the current editing situation, anyways :)

![image](https://cloud.githubusercontent.com/assets/2231765/26600487/4cfc4c92-454a-11e7-9df8-201b9d0be21c.png)

[2017-05-30 19:16] rmosolgo opened #62 "Allow override of User-Agent header?"
Hey, thanks for the great app! It's been really really useful.

I'm in an interesting spot now -- I'm trying to test an API whose behavior depends on the incoming `User-Agent` header.

I tried setting it in the headers box, but it looks like it wasn't applied:

![image](https://cloud.githubusercontent.com/assets/2231765/26600666/edb2e010-454a-11e7-8997-51331b41c6b7.png)

![image](https://cloud.git

[2017-06-02 14:24] LucasRettig opened #63 "Brew GraphiQL App not working"
My GraphiQL brew app is not working.  It just sits and clocks.  I am getting the following error:
![image](https://cloud.githubusercontent.com/assets/15785789/26729979/14318198-4775-11e7-9b19-19d5bad88841.png)

I tried updating brew and reinstalling and still get the same errors.

Have you guys seen this before?

[2017-06-08 10:31] bhavinwebdesk opened #64 "Support for Fragment"
Hello guys !

Is it possible to declare Fragment?

Thanks,
Bhavin

[2017-06-11 11:52] Mifrill commented on #59
try npm run build

[2017-06-11 12:37] Mifrill opened #65 "npm run start error"
[code]
2017-06-11T12_33_51_380Z-debug.log:
[code]

[2017-06-14 22:38] jaaaco commented on #59
I needed version for windows, too. I prepared binary release:

https://github.com/jaaaco/graphiql-app/releases/tag/v0.5.1b

Plz let me know if Windows version are working ok (I couldn't check them on Wine)

[2017-06-15 04:19] Mifrill commented on #59
Jaaaco, graphiql-app-win32-x64.zip - working perfectly

[2017-06-17 20:24] #52 closed

[2017-06-17 20:25] skevy commented on #62
Sure. Want to send a PR

[2017-06-17 20:26] skevy commented on #64
Yes of course -- that functionality is included in GraphiQL, and is not managed by this project.

[2017-06-17 20:26] #64 closed

[2017-06-17 20:27] skevy commented on #59
Please use the release version: https://github.com/skevy/graphiql-app/releases

[2017-06-17 20:27] #59 closed

[2017-06-17 20:29] skevy commented on #54
This is a GraphiQL issue specifically -- out of scope of this project for now. If you have a fix you'd like to propose, please feel free to send a PR!

[2017-06-17 20:29] #54 closed

[2017-06-17 20:29] skevy commented on #53
I don't have a use case for this specifically, but if you want to send a PR, I'd be glad to merge it!

[2017-06-17 20:31] skevy commented on #65
Were you ever able to get this working?

[2017-06-17 20:32] skevy commented on #45
Thanks for the report! I unfortunately don't have much time to fix this right now, but would gladly accept a PR. :D

[2017-06-17 20:34] skevy commented on #11
@andrefgneves added this feature in Sept! Closing this. :)

[2017-06-17 20:34] #11 closed

[2017-06-17 20:34] skevy commented on #12
Closing due to inactivity.

[2017-06-17 20:34] #12 closed

[2017-06-17 20:36] skevy commented on #35
Pretty sure this is good now -- needed to update to the latest GraphiQL version.

[2017-06-17 20:36] #35 closed

[2017-06-17 21:58] intellix commented on #62
https://github.com/skevy/graphiql-app/pull/66 adds support for Origin header to get around CORS and you can also send the User-Agent header there too. If you provide it with fetch then it won't get sent at all.

I'm guessing some stuff needs refactoring to send requests via Electron instead of Fetch

[2017-06-17 22:16] skevy commented on #63
Waiting for this to be merged: https://github.com/caskroom/homebrew-cask/pull/35648

It should work at that point.

[2017-06-17 22:17] skevy commented on #56
This is resolved in 0.6.0.

[2017-06-17 22:17] #56 closed

[2017-06-17 22:18] skevy commented on #29
The AppImage provided in the latest release (0.6.0) has been confirmed to work on Linux.

[2017-06-17 22:18] #29 closed

[2017-06-17 22:18] skevy commented on #15
A prebuilt Windows binary was added in 0.6.0.

[2017-06-17 22:18] #15 closed

[2017-06-17 22:19] skevy commented on #26
Does this still happen @matthewmueller ?

[2017-06-17 22:20] #53 closed

[2017-06-18 11:48] Mifrill commented on #65
Trying to build from oficial source to linux led to this result
I used other sources (https://github.com/jaaaco/graphiql-app/releases/tag/v0.5.1b)
it was success and tests successfully pass, But graphical interface did not work:
https://monosnap.com/file/IdJLDzf3VDQFoDBQo7yYsQBs4W80Jn
So fow now i use graphiql-app-win32-x64.zip from non official realese source code on OS Windows

By the way, the p

[2017-06-18 17:57] skevy commented on #63
Go ahead and give the latest Cask a try @LucasRettig :)

[2017-06-18 17:57] #63 closed

[2017-06-19 14:18] LucasRettig commented on #63
This works now.  Thanks @skevy !

[2017-06-20 01:38] skevy commented on #65
I'm not sure why this would happen.

I'm able to build and run the app on my mac, as well as build the release versions for Linux. If you're able to fix this and want to send a PR, I'd be happy to accept it.

For now I'm going to close this issue, however.

[2017-06-20 01:38] #65 closed

[2017-06-20 16:49] zackify commented on #35
Subscriptions don't seem to work still, in apollo on the default graphiql I am adding:
[code]

Don't see a way to give this app the subscription url?

[2017-06-21 11:04] erik-am opened #67 "Webpack fails on Windows"
On Windows, Webpack hangs at `95% emit`.

[code]

[2017-06-23 19:42] stephenmathieson opened #68 "Uncaught Exception: Error: Cannot find module 'shell'"
Using `0.5.1`, if you click [Help -> Search Issues](https://user-images.githubusercontent.com/571265/27497750-1475a9c0-5811-11e7-84bc-50ed804bcf30.png), the app will crash with an uncaught:

<img width="420" alt="screen shot 2017-06-23 at 12 40 27" src="https://user-images.githubusercontent.com/571265/27497777-39da196c-5811-11e7-9c6e-dabaa6ee26d7.png">

[2017-06-26 01:58] Pollyreal commented on #67
The same to you.

[2017-06-26 09:01] sunthx opened #70 "how to close a query tab ?"
tks

[2017-06-26 17:04] gjtorikian commented on #70
On a Mac, it is <kbd>⌘+w</kbd>. On Windows/Linux, it's <kbd>Control+w</kbd>, I believe.

You can also go to `File -> Close Query` in the menu bar.

[2017-06-29 06:08] sunthx commented on #70
i installed the latest version (0.6.0) on windows.

-  `File -> Close Query` not found in the menu bar.
- <kbd>control + w </kbd> not working.

tks.

[2017-06-29 19:36] #70 closed

[2017-06-30 08:28] sunthx commented on #70
tks. @gjtorikian @shiftkey

[2017-07-15 16:01] DraganKovacevic opened #72 "[Ubuntu] Launcher always opening a binary entry"
![screenshot from 2017-07-15 17-56-33](https://user-images.githubusercontent.com/7206237/28240747-46664480-6987-11e7-894b-6f8385d26900.png)

Instead of using the same icon for running the app, app always open binary new entry in launcher. Regardless of how desktop entry is configured.
Clicking on the icon will always open a new binary entry in launcher.

[2017-07-25 12:21] martinek opened #74 "Schema is not loaded when using GET method"
Schema loading fails for me unless POST method is used.

Schema loading is not using any variables so `graphQLParams['variables'] = "{}"` is called. That is later JSON.stringified and graphql returns error:

[2017-07-25 12:59] ericyip opened #75 "Error on app, but works on browser?"
![screen shot 7](https://user-images.githubusercontent.com/11587066/28572994-a2cde650-717b-11e7-8f1c-fcbcd0a4ab60.png)

I also tried graphql ide, and it works fine too.

[2017-07-25 13:57] hmontes opened #76 "Add support for GraphiQL editor themes"
https://github.com/graphql/graphiql#applying-an-editor-theme

[2017-07-27 18:21] colllin opened #77 "SyntaxError: Unexpected token < in JSON at position 0"
I'm not sure where to go from here...  just downloaded v0.6.0 and haven't seen a successful request yet.

<img width="1038" alt="screen shot 2017-07-27 at 12 20 48 pm" src="https://user-images.githubusercontent.com/185923/28685759-0ec4b938-72c6-11e7-9405-008d4305ef46.png">

[2017-07-27 18:25] skevy commented on #77
This is your API returning a bad response -- this isn't a GraphiQL issue.

[2017-07-27 18:25] #77 closed

[2017-07-27 18:26] skevy commented on #74
Happy to take a PR to support GET requests!

[2017-07-27 18:41] colllin commented on #77
Thanks!

[2017-08-01 12:47] #75 closed

[2017-08-08 16:44] Malax opened #79 "Release New Version"
Hey!

I was having an issue with CORS requests and saw that #66 fixed it. 👍
However, there is no release where the issue has been fixed. Would it be possible to release a new version with the fixes? I currently use a clone of this repo to start the fixed version, but that does not feel right. :)

Thank you!

[2017-08-08 18:52] gjtorikian commented on #79
Done! https://github.com/skevy/graphiql-app/releases/tag/v0.6.1

[2017-08-08 18:52] #79 closed

[2017-08-09 06:47] Malax commented on #79
Thank you very much! :)

[2017-08-16 21:31] ryannealmes commented on #77
Getting the same issue. I can get things working on normal localhost graphiql, but as soon as I try this ... no luck.

[2017-09-06 02:10] itsnothingg commented on #77
having same problem here

[2017-09-07 14:04] sithadmin opened #81 "SyntaxError: Unexpected token < in JSON at position 1"
Windows 10
Opening the same URL in Chrome works
Graphiql-app 0.61

[2017-09-07 14:23] gjtorikian commented on #81
What's the URL?

[2017-09-07 15:05] sithadmin commented on #81
sorry.. http://localhost:3000/graphiql

[2017-09-07 17:50] jessitron commented on #81
@sithadmin I saw this error today, and it was an HTML response from the graphql server.

 If you go to View-> Toggle Developer Tools, and then hit refresh, you might see a red network request. If you look at the response, you might see a meaningful error in the HTML.

[2017-09-07 18:06] sithadmin commented on #81
No errors reported in Dev Console.  And a normal browser displays the content correctly.

[2017-09-07 18:42] gjtorikian commented on #81
Ah, are you trying to embed GraphiQL into a site? If so, https://github.com/graphql/graphiql may be the repository you want.

This repository is for a stand-alone app that makes use of the same GraphiQL. But it's not meant (or even possible) to run on a website.

[2017-09-07 18:56] sithadmin commented on #81
@gjtorikian I know this is a standalone app, I am currently following a Youtube playlist [here](https://www.youtube.com/watch?v=2mXUcBHoJcA&list=PLzQWIQOqeUSM51q7ZIqvDQ-Myp58IVPEN&index=6) and the author is able to use this app to talk to his GraphiQL setup, but I am not.  Other than the differences in OS, I don't think my setup is that much different.

[2017-09-08 12:43] sithadmin commented on #81
Well, I must apologize.  This was user error.  I will write this up to my inexperience with GraphQL.  I was pointing to the web front-end, not the endpoint.  Sorry to bother everyone.  I'll go stand in the corner now and think about what I've done...

[2017-09-08 12:43] #81 closed

[2017-09-18 18:32] webmobiles opened #82 "install with brew, when open give error"
When i open the app, i get this error
[code]

when i try to execute querys i get:

`SyntaxError: Unexpected token < in JSON at position 1`

[2017-09-18 20:12] erikfrisk commented on #82
I get the same error.

[2017-09-25 08:17] FergusZhou commented on #82
+1

[2017-09-25 08:18] webmobiles commented on #82
it's better this repo, server und client working :

https://github.com/jferrettiboke/react-auth-app-example

[2017-10-01 22:32] parsiya opened #83 "When a request is selected from the history panel, an empty operationName is send with query resulting in an error"
OS: Windows 7 64-bit (it's a virtual machine but I doubt it matters).
GraphiQL-app version: 0.6.1

Not sure if this is a GraphiQL issue or the app. If so please let me know and I will make an issue there.

### Steps to Reproduce:
1. Configure the app with appropriate headers and send a few valid queries.
2. Put a web proxy in between if you want to see any queries
3. Select any item from from hist

[2017-10-06 17:47] Skaronator commented on #82
Got the same issue. Installed `graphiql-app-setup-0.6.1.exe` on W10.

[2017-10-11 07:55] philwareham opened #84 "Help menu (MacOS) broken"
Hi,

Very handy app!

On MacOS (version tested 10.12.6) when I select any of the 4 options in the GraphiQL app (version 0.6.1) help menu I get messages such as the following:

![grab1](https://user-images.githubusercontent.com/413665/31428165-cc063b4e-ae61-11e7-836c-7b7de8eb0617.png)

[2017-10-13 06:48] selfagency commented on #82
same here on high sierra

[code]

[2017-10-13 18:20] samthomson commented on #84
I can reproduce this bug.

[2017-10-13 19:09] #68 closed

[2017-10-13 19:09] #84 closed

[2017-10-14 19:55] samlevin commented on #82
Same here (high sierra)

[2017-10-16 10:36] intellix opened #89 "Changing URL clears the current query"
We're passing some data through a query param like:

 - `http://localhost:8888/graphql?brand=pepsi`
 - `http://localhost:8888/graphql?brand=cocacola`

When I change the URL, my long written query disappears :(

[2017-10-21 04:16] zeke opened #90 "TypeError on launch in 0.6.1"
Hi, GraphQL folks!

I just downloaded GraphiQL for the first time on this computer, and here's what I see on first run:

![screen shot 2017-10-20 at 9 11 34 pm](https://user-images.githubusercontent.com/2289/31847964-c56821cc-b5db-11e7-9e0b-3f23e9e5d6e1.png)

[code]

[code]

[2017-10-21 04:17] zeke commented on #90
First time I installed with `brew cask install graphiql`, then tried re-installed from the DMG GitHub release. Same result.

[2017-10-23 07:10] HughP opened #91 "Ubuntu install instructions"
Are there some ubuntu install instructions somewhere? am I missing them? the brew method only works on MacOS, not on ubuntu with linuxbrew.

[2017-10-23 23:07] #82 closed

[2017-10-24 16:12] gjtorikian commented on #90
Dupe of #82, closed by https://github.com/skevy/graphiql-app/pull/93

[2017-10-24 16:12] #90 closed

[2017-10-24 22:34] zeke commented on #90
Thanks for the quick fix, @gjtorikian!

[2017-10-25 01:34] lsmith130 opened #94 "Operation name dropdown causing weird overflow"
<img width="453" alt="screen shot 2017-10-24 at 7 26 57 pm" src="https://user-images.githubusercontent.com/2815712/31975959-cbb7caa0-b8f1-11e7-9e45-3b53a475df96.png">

This happened on two different macs when updating to 0.6.3. I've downgraded to 0.6.1 and it's working as normal again. It's possible to select options by scrolling the header bar, but it's severely hampering the UX. If I had more ti

[2017-10-25 11:12] philwareham commented on #84
Just a further note: Latest version (0.6.3) fixes the error above but all help currently points to the Electron project not specifically the GraphiQL app project's pages. Cheers!

[2017-11-07 17:12] tithamane opened #95 "Django CSRF cookie support"
I tried using this app with a Django graphene graphql backend and got the error: `WARNING:django.request:Forbidden (CSRF cookie not set.)`

I'm not much of a python developer but the endpoint seems to work well in a browser. Is there something I have to setup in the app? Or is there something I'm supposed to do in the Django app? It would be nice if the app handled these cookies silently. I prefer

[2017-11-28 22:00] everdev opened #96 "No history button"
App is working well, and there is a "Prettify" button, but no "History" button. From previous comments, it sounds like there used to be one.

[2017-11-29 05:49] samlevin opened #97 "`brew cask install [...]` installs outdated version on OSX"
[code]

[2017-12-03 09:56] xiaoyu860519 commented on #97
二

[2017-12-03 16:01] gjtorikian commented on #97
I suspect a local issue; the [cask was bumped to 0.6.3](https://github.com/caskroom/homebrew-cask/pull/39997) some time ago.

[2017-12-05 11:25] 0ff commented on #94
Same here, downgrade worked as well. Hopefully this can be addressed in the next version.

[2017-12-06 20:17] paulomcnally opened #98 "Allow horizontal scroll on tabs."
On MacOS need horizontal scroll on tabs to or drag and drop tabs position.

![captura de pantalla 2017-12-06 a la s 2 15 43 p m](https://user-images.githubusercontent.com/181533/33683331-25d1be0a-da90-11e7-810c-e2b006f76e6d.png)

[2017-12-11 17:22] gjtorikian commented on #97
Closing as stale, please reopen if this is not correct.

[2017-12-26 09:18] ramk18 opened #100 "Add support for graphql ws subscriptions"
Hi,

Please add support for testing the subscriptions layer of graphql using webcsockets.

[2018-01-01 06:30] AnthonyMeaux101 opened #102 "?"

[2018-01-03 17:01] angelorubin opened #104 "Error on reload"
The following error message occurs when I click the reload button.
![error-win-10 fw](https://user-images.githubusercontent.com/1530309/34530640-f32c1f1e-f096-11e7-9227-7a7de309d8c8.png)
NOTE: I am using Windows 10.

[2018-01-27 04:45] ortonomy opened #107 "Changing headers reloads view of queries, doesn't save/ preserve query list"
When I change / add / delete http headers, the query editor view refreshes (I think because the introspection query runs again)

When this happens, it doesn't save the list of queries, and refreshes and some queries are lost. **Need to make sure the editor view state is preserved**

[2018-02-02 08:47] rohmanhm commented on #91
I'm here also looking for Ubuntu instruction to install.

[2018-02-02 08:53] rohmanhm commented on #91
I found this `[graphiql-app.AppImage](https://github.com/skevy/graphiql-app/releases/download/v0.6.3/graphiql-app-0.6.3-x86_64.AppImage)` file on the release page.

Download and install to your Ubuntu, I think it should work fine.

[2018-02-05 05:03] arvi opened #108 "Linux AppImage: I couldn't communicate with the GraphQL server at the provided URL. Is it correct?"
Hello,

I am trying out graphiql and installed the latest linux release https://github.com/skevy/graphiql-app/releases/download/v0.6.3/graphiql-app-0.6.3-x86_64.AppImage.

However, I can't seem to make a query. Here is a comparison of the original graphiql via apollo and skevy's graphiqlapp. Are there anymore setup I need to do?

https://ibb.co/kpzafc

Thanks a lot.

[2018-02-05 08:33] arvi commented on #108
I now know it couldn't communicate because I was pointing to the app route instead of the endpoint e.g

`app.use('/graphiql', graphiqlExpress({ endpointURL: '/graphql' }));`

access via http://localhost:PORT/graphql instead of *graphiql*

Note to self.

[2018-02-05 08:33] #108 closed

[2018-02-07 10:21] LennyPenny opened #109 "Pressing enter in a header field doesn't save it"
When you are done setting a header and press enter to save it, it doesn't actually save.
You have to manually press the save button :/

[2018-02-10 15:38] trinaldi commented on #91
Here's my solution. Probably not the most elegant one, but it works.
Also, it works for Linux Distros in general, I'm using Arch.

First, create a shell script -- in my case `graphiql-app.sh` -- with the following contents:
[code]
Notice that you'll need to change the paths according to your system. To find out your `npm` path, you can type `which npm`

Then you  create a `.desktop` file inside `~

[2018-02-11 16:51] cabello opened #110 "Wrong tab is selected after a Reload"
Hi 👋! I've been using the app for a few days know, really enjoying it.

I noticed a tiny bug: if I have multiple tabs open and I trigger a Reload (command + R) my tab selection is moved to my last tab.

For example in the following scenario:

[code]

**Expected** result after a reload:

[code]

**Actual** result after a reload:

[code]

Thanks for wrapping GraphiQL into an app, really helps the no

[2018-02-12 09:26] mfilej opened #111 "Switching tabs clears out right pane"
Assume I have two tabs open. I execute the query in the first tab, receiving the result in the right pane as expected. Then I go to the second tab to write a second query.

When I come back to the first tab to reference the previous result, the right pane is empty (I need to re-execute the query to see the result again).

I would expect the right pane to preserve its content when switching tabs.

[2018-02-14 13:34] ThisIsMissEm opened #112 "GraphiQL.app ignores the `cookie` header silently"
For some reason the GraphiQL.app silently ignores all values for the Cookie header if added via the "headers" editor. See the attached image:
<img width="1680" alt="screen shot 2018-02-14 at 2 32 05 pm" src="https://user-images.githubusercontent.com/30827/36206778-e4040c40-1193-11e8-9fb1-70ffeb8044e7.png">

I'm guessing it's something to do with `fetch()` and `credentials` option.

Version 0.6.3 (

[2018-02-15 16:17] gjtorikian opened #114 "Propose moving this under the graphql org?"
I don't really have time to maintain this app very much, and it seems like there are quite a few bugs and feature requests. @skevy if I chat with Lee Byron about it would you be opposed to moving this under the https://github.com/graphql org? I imagine it'll gain more visibility and attention there.

[2018-02-15 22:25] skevy commented on #114
Not at all. Happy to do that!

[2018-03-02 18:42] #62 closed

[2018-03-02 18:42] #112 closed

[2018-03-06 19:20] astorije commented on #102
@AnthonyMeaux101, could you close this ticket please?

[2018-03-06 19:22] astorije opened #116 "Reorder tabs"
Currently, opening a new tab appends it at the end of the list.
As far as I know, it doesn't seem like there is a way to move tabs around in order to reorder them.

Thanks for this app, it's a very useful addition to the GraphQL dev toolkit 👌

[2018-03-06 19:30] #102 closed

[2018-03-07 08:49] mathiastambjergsteengaard opened #117 "description in docs to support multiline"
Like in the browser it would be great if the description supported multiline
App:
![image](https://user-images.githubusercontent.com/14214026/37082374-bbd5a918-21ec-11e8-9365-6fb3b1ac557b.png)

Browser:
![image](https://user-images.githubusercontent.com/14214026/37082407-cc74215a-21ec-11e8-9c5d-28d093e081fb.png)

[2018-03-11 20:46] joshmanders opened #118 "Error: unable to verify the first certificate"
From the **v0.7.0** to the **v0.7.1** the switch to `isomorphic-fetch` to `https` module has made it so self signed certificates for local development urls error out.

[2018-03-12 01:01] gjtorikian commented on #118
@craig-day Would you be able to look into this please?

[2018-03-12 03:14] craig-day commented on #118
Sure thing. I’ll look at this tomorrow.

[2018-03-19 00:53] craig-day commented on #118
@joshmanders do you have an example reproduction? There are a few possible ways errors like this can be resolved. We can required the appropriate root certificates, which is safe, or we can just tell the https library to ignore these errors but that is less secure. If you have an example it would be nice to test with.

[2018-03-19 14:55] joshmanders commented on #118
@craig-day no example really, I use a tool called Valet (https://github.com/laravel/valet) and it secures local apps for development with self-sign certificates, previous version worked fine for these certificates, new version errors out, as I believe a self-signed certificate is not a valid certificate.

[2018-03-20 14:43] gjtorikian commented on #114
@leebyron Sorry for the direct ping -- I think Kyle might've reached out to you too about this -- is there any interest in moving this under the official `graphql` org on GitHub?

[2018-03-22 17:10] #118 closed

[2018-04-05 20:45] nanandn opened #121 "Not working"
I just installed 0.7.2 version. Doesn't work. Doesn't load the shema. 'Edit HTTP headers' doesn't do anything.

The same URL (http://localhost:8080/graphiql) works in the browser.  Any idea why this app won't work?
![screen shot 2018-04-05 at 1 43 18 pm](https://user-images.githubusercontent.com/1680655/38390927-9b34762e-38d7-11e8-9c10-421639a8a860.png)

[2018-04-05 21:25] ZeroSoulEater opened #122 "ruby on rails "bug"?"
If you got
`protect_from_forgery with: :exception`

in your `application_controller.rb` you will get an error. While the website is still working fine your electron app wont work.

[2018-04-05 21:45] gjtorikian commented on #121
Please try updating and see if that fixes the issue. The latest version is 0.7.2.

[2018-04-05 22:17] nanandn commented on #121
I am using 0.7.2
I tried uninstall and re-install. Trird installimg using brew and the dmg image.

Same problem.

[2018-04-06 06:16] ZeroSoulEater commented on #121
Your endpoint needs to be graphql not graphiql

[2018-04-06 06:33] nanandn commented on #121
Cool. That works. Since the endpoint was graphiql in the browser, I was using that.
"graphql" works.

Thanks
Anand

[2018-04-06 06:36] nanandn commented on #121
However, GET is not working. Only POST works. Get gives me an error "java.lang.RuntimeException: variables should be either an object or a string"

[2018-04-06 07:31] ZeroSoulEater commented on #121
I mad the same mistake, graphiql is only the url for the website. The graphiql website just use as default endpoint `/graphql` and the electron app let you choose your owen endpoint.

Yeah Graphql only supports POST requests

[2018-04-09 10:09] 444823117 opened #123 "60"

[2018-04-09 10:09] #123 closed

[2018-04-09 17:40] achton commented on #91
Before the guide from @trinaldi will work (see above), remember to run `npm install` and `npm run build` - otherwise you will get errors :+1:

[2018-04-09 17:50] gjtorikian commented on #91
Anyone mind turning this into a section in the README please? Thank you.

[2018-04-09 22:46] MikeyParton opened #125 "Can't connect to localhost ECONNREFUSED"
I Just did a fresh install of version 0.7.2 and I get the following error trying to load the schema when I put my endpoint in.

[code]

The endpoint is: http://localhost:3000/api/graphql
Weirdly enough if I use ngrok to forward requests to port 3000 and use the endpoint: https://bf29c0e6.ngrok.io/api/graphql, everything works.

Any clues to what the issue could be ?
I tried installing with brew fi

[2018-04-11 13:29] gjtorikian commented on #114
Cool, I get to be that guy who pings multiple people:

@jspahrsummers (hi!) @AGS- @dwwoelfel @jjergus @robzhu @wincent Would any one have interest in transferring this project into [the main GraphQL](https://github.com/graphql) organization? Thanks!

[2018-04-18 16:49] paladdins opened #126 "Setting header with not-allowed-characters is making app unusable"
Hey, I probably set quotes to one of HTTP headers. So after that I couldn't access both schema and "Edit HTTP Headers" section even after all possible manipulations with client (sa reloading). Deleting local files solved the problem ofc.

[2018-04-30 14:29] tosbourn commented on #97
I vote to close this issue - I've literally just ran this command and got the latest version.

[2018-04-30 16:13] #97 closed

[2018-05-16 09:53] aphillipo commented on #126
I too have this issue...

[2018-05-28 10:37] danaki commented on #77
GraphQL 0.7.2. Confirm similar error but no requests to investigate in the Network tab. I understand this is my application error but can't check the output because Graphiql app is the only option to set JWT authorization header. Please make this output available even if JSON can't be parsed.

[2018-06-05 09:08] MatteoJoliveau opened #127 "TypeError on Application first connection"
When first connecting to a valid GraphQL endpoints (all subsequent queries work as expected) I have this error reported as output. Also no documentation is loaded nor is autocomplete when writing queries.

[code]

![image](https://user-images.githubusercontent.com/9077612/40966386-a664fcae-68b0-11e8-860a-79430d184e88.png)

Application version is **0.7.2** installed on macOS 10.13.4 via Homebrew

[2018-06-11 09:05] intellix opened #128 "Changing URL triggers an API call on every keystroke"
We've got the app within our URL so change it quite often as switching between them.
Two URLs:

[code]

Changing `cocacola` to `pepsi` results in the following API calls:

[code]

[2018-06-22 15:50] jakesorce commented on #126
@aphillipo @paladdins: If you get into developer tools with `option + cmd + i` and then type `localStorage.clear()` and restart the app that will fix the problem for you!

[2018-06-27 10:14] bostrom opened #129 "Feature request: Multiple windows"
Great app!

When working on multiple projects and/or multiple environments it would be useful to be able to open up multiple instances of the app. Now the tab real estate is limited and there's no possibility to reorder/scroll tabs, so with many tabs open the window becomes quite cluttered. A new window would help a lot!

Thanks!

[2018-07-19 07:16] aergonaut opened #130 "Blocked from opening on macOS because app is not from an identified developer"
It would be great if the app could be signed so that installing on macOS would not raise security warnings.

Background: I'm trying to bring GraphQL to my company, and I want to be able to point people at a good GraphQL explorer tool. I really like that this app can also specify headers to be included in the request, because we are securing our GraphQL API with API keys. However, our machines have

[2018-07-19 15:21] gjtorikian commented on #130
I think signing requires one to be an official developer, right? And that costs money. And this is an entirely volunteer run effort.

I understand the "work has locked stuff down" problem--believe me--but I don't know that anyone working on the project is a member and would be willing to sign the app indefinitely.

Could you possibly recompile the code and sign it yourselves to distribute it at wo

[2018-07-19 15:31] aergonaut commented on #130
That's a good idea. I can try doing that.

[2018-07-19 18:31] aergonaut commented on #130
Actually it appears that, for some reason, installing using `brew cask` bypasses the Gatekeeper restrictions on our machines. So I can recommend my team use `brew cask` to install this instead of downloading from GitHub.

[2018-07-19 18:31] #130 closed

[2018-07-25 18:10] kvarela commented on #116
Also would love to be able to delete tabs.

[2018-09-11 01:42] ProphetDaniel commented on #67
Looks similar to this: https://github.com/webpack/webpack/issues/2908

[2018-09-11 06:38] doctorx32 commented on #67
This problem is fixed in Webpack 2 and above, try to update it

[2018-09-14 21:49] nishanthvincent opened #131 "click on http headers does not respond with current version."
First of all thankyou somuch  for this app.

I'd like to report a bug when I used this app

issue on MacOS
version 0.7.2
Clicking on Edit http headers does not respond in the new version.

[2018-10-12 01:21] samuela opened #132 "Autocomplete not working"
I can't get autocomplete to show up at all. I know that the server is connected properly since it responds to queries and GraphiQL displays them appropriately. And GETing produces the graphql manifest:

[code]

I don't see any errors in the Developer Tools. I'm on version 0.7.2.

[2018-10-21 19:09] joelgetaction opened #133 "App should be signed otherwise it cannot be launched on macOS"
Nice app!  Thanks for your hard work on this.

Trying to launch the app results in `"GraphiQL.app" can't be opened because it is from an unidentified developer".  This happens because the app isn't properly signed with an Apple developer signature.  In many environments, "System Preferences => Security & Privacy => Allow apps downloaded from: App Store and identified developers" is the least secur

[2018-10-22 12:09] gjtorikian commented on #133
Duplicate of https://github.com/skevy/graphiql-app/issues/130

[2018-10-22 12:09] #133 closed

[2018-10-29 13:32] rjrobinson commented on #122
Whats the bug that you are getting?

[2018-11-03 23:31] samuela commented on #132
@rjrobinson No, there are no errors in the console.

[2018-11-19 04:04] khteh opened #135 "Ubuntu 18.10 error while loading shared libraries: libgtk-x11-2.0.so.0"
[code]

[2018-11-19 05:31] khteh commented on #135
sudo apt install libgtk2.0-0

[2018-11-19 05:31] #135 closed

[2018-11-21 11:39] linpekka commented on #90
I still get these errors when installing from brew

[2018-12-19 16:48] spdenning opened #136 "Multiple Queries with GET not working"
When multiple queries are used, it works fine on POST.  However, on GET it seems the "operationName" is not provided.  Without the specific operation, GraphQL cannot process the selected query.

[2018-12-27 02:31] acma0494 opened #137 "huy"
#90

1.

[2018-12-27 02:31] acma0494 commented on #137
-

[2018-12-30 02:16] SoVadeus commented on #137
[https://github.com/skevy/graphiql-app/issues/90](url)

[2019-01-30 06:45] harsha-sagar commented on #130
@aergonaut
installed using `brew cask`, but stilling same issue.

[2019-01-30 06:46] harsha-sagar commented on #133
@gjtorikian
installed using `brew cask`, still seeing same issue.

[2019-01-30 15:50] sjmcdowall opened #138 "Feature: Add GraphiQL Explorer"
A company called OneGraph has an awesome addition to GraphiQL called "GraphiQL Explorer" -- it would be great to integrate that into this app as well.

[GraphiQL Explorer](https://github.com/OneGraph/graphiql-explorer)

[2019-01-30 15:52] sjmcdowall opened #139 "Deadware??"
@skevy -- Is this pretty much deadware? Are you no longer supporting this?  I ask because there are 4 PR's outstanding for some time and no changes in about a year and the issues are stacking up.  Perhaps you should add more "maintainers" etc. to keep this thing moving?

[2019-01-30 16:12] #137 closed

[2019-01-30 16:13] #121 closed

[2019-01-30 16:14] gjtorikian commented on #139
It isn't deadware. I was added some time ago. We're all just quite busy.

The app works good enough for most people, I suspect.

[2019-01-30 16:44] skevy commented on #139
To echo Garen — I use this at work literally every single day. It’s not deadware. If it was broken, I would fix it. There are other more full-featured GraphiQL wrappers out there — Insomnia, GraphQL Playground, etc. You should feel free to use those if you don’t like the what this one offers, or you can fork if we’re not responding to PRs fast enough.

[2019-01-30 16:44] #139 closed

[2019-01-30 17:42] sjmcdowall commented on #139
@skevy -- If I didn't care or like this I wouldn't have taken the time to ask about it.  I am glad to see y'all are still active and on top of this -- if the speed of responses to this issue is any indication. :)  Cheers!

[2019-01-31 06:19] gjtorikian commented on #139
Appreciated, @sjmcdowall.

[2019-02-11 16:13] shakedlokits opened #141 "Feature: Add snippet on click"
If the user clicked the query example, a snippet is copied to the cursor, it's amazing how useful this thing would be❤️

**for example:**
![photo](https://i.imgur.com/Kxa6c4H.png)

[2019-02-18 20:30] vacas commented on #131
So, I ran into this problem, then closed the app and reopened it (the url was already set on the endpoint) and the button started working. Could you validate if this helps?

[2019-03-04 10:58] MilanSavaliya commented on #131
I ma having the same issue too. I am getting this error when I try to click on "Edit Http Headers" button.

bundle.js:6 Uncaught Invariant Violation: Minified React error #37; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=37 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

[2019-03-05 10:25] MilanSavaliya commented on #131
@ZeshanWD @vacas @gbanks2001 @nishanthvincent I resolved this issue by deleting all the data from app's **Local Storage**. To do that, open Developer Tools, and navigate to Application tab. Under it, you'll find Local Storage. Delete all the stored value in it. Restart the app. You should be good to go.

[2019-03-05 17:28] vacas commented on #131
That's another way to solve it. Might be a good idea to look into it. If I get the chance to do so and make a PR out of it, I'll let you guys (and @skevy) know.

[2019-03-13 13:38] habovh commented on #116
As a workaround, you can already hit <kbd>CMD</kbd>+<kbd>W</kbd> on the currently selected tab to close it.
Agree reorder and a little close button would be nice though 🙂

[2019-04-04 17:18] jsoref opened #142 "Support proxies"
I'd like to be able to use GraphiQL on a computer that requires a proxy to connect to the internet (w/o relying on system settings).

[2019-04-04 17:26] jsoref opened #143 "Clicking on the center of the GraphiQL app icon doesn't work on macOS"
macOS has traditionally treated transparent pixels as not being part of objects. As such, given that most of https://github.com/skevy/graphiql-app/blob/master/build/icon.icns is hollow, clicking on the application is hard.

Here's a zip file of a QuickTime.app video showing the problem:
[graphiql icon is hollow.mov.zip](https://github.com/skevy/graphiql-app/files/3044702/graphiql.icon.is.hollow.mo

[2019-04-06 22:57] muzala commented on #97
Why is too difficult to get but am still try it if I get it well than is gonna be OK

[2019-05-16 08:24] mxmlnglt opened #144 "Help menu items lead to Electron-related resources"
Windows 10 Pro (64-bit)
GraphiQL App v0.7.2

Help menu has the following items:
- Learn more => http://electron.atom.io => https://electronjs.org/
- Documentation => https://github.com/electron/electron/tree/master/docs#readme
- Community Discussions => https://discuss.atom.io/c/electron
- Search Issues => https://github.com/atom/electron/issues
but they all relates to Electron stuff.

It would be

[2019-05-16 21:12] cfjedimaster commented on #59
I know this is closed, but the readme for the project mentions macOS and Linux only. I assumed that maybe something in the codebase made it not work in Windows. Even if it's unofficial, should the project's readme at least mention it?

[2019-05-17 06:24] ieugen opened #145 "Provide script to generate auth token"
Hello,

While using graphiql-app I have always dreaded manually changing the Authentication header and updating the app with a new, valid token.

It would be great if graphiql-app could expose functionality to change the auth token via some sort of scripting.

Thanks,

[2019-05-17 08:53] mxmlnglt opened #146 "Bug: GraphiQL.app doesn't remember window positioning"
Windows 10 Pro (64-bit)
GraphiQL App v0.7.2

GraphiQL.app doesn't handle properly window positioning, which means it doesn't remember :
- where its window was moved on the screen,
- if its window was maximized
- if its window was moved to another screen than your main screen (given you have several screens).

That's a bit of a shame, given some other Electron-based apps do that, e.g. Advanced REST

[2019-05-17 15:11] mxmlnglt opened #147 "Bug: HTTP requests not traced in Network tab of the Developer Tools"
Windows 10 Pro (64-bit)
GraphiQL App v0.7.2

Steps to reproduce:
- open GraphiQL.app
- open View menu > Toggle Developer Tools (or Ctrl+Alt+i), then select Network tab
- create a new Query tab with:
  - GraphQL Endpoint: https://swapi.graph.cool
  - Method: POST
  - Query: (something as simple as) `{allFilms{id}}`
- then hit the Play button

The date appears in the result panel, but at the same ti

[2019-05-17 17:04] tsonev7 opened #148 "Prettify button deletes comments"
Say I have the following query

[code]

After clicking the Prettify button, all comments in the editor are removed.

**Expected behaviour:**

Comment sections should not be deleted by Prettify

[2019-05-17 17:34] #148 closed

[2019-06-04 07:19] FX-HAO commented on #147
Confirming it works on v0.7.0

[2019-06-04 14:05] dzanfardino commented on #125
Any luck with this ?

[2019-06-05 02:56] klonos opened #150 "Cannot install on latest Mac OS"
[code]

Then of course if you try as sudo:

[code]

[2019-06-18 13:06] justin-gardiner commented on #133
same for me today

[2019-06-18 16:26] cabello opened #151 "Links in description result in "broken" app"
Hi 👋

Thanks for making this app, it's quite handy, I've been using it for a while now, I tried other applications but this is the one that I like the most, it's really use to re-fetch the latest schema and write queries.

I found the following bug that I will attempt my best to describe it.

The following screenshot contains a link to Wikipedia using Markdown links:

<img width="1020" alt="Screen

[2019-06-18 20:21] cabello commented on #151
This provides a few pointers on how to achieved the behaviour of opening the link in default browser https://github.com/electron/electron/issues/1344 I will give it a try soon.

[2019-08-02 21:55] davydhong commented on #133
tried brew cask - can't open still.
Has anyone figured out how?

[2019-08-07 11:28] ivdma commented on #125
Same here on v 0.7.2:

[code]

Graphql server is running within a Rails app on port 3000 and doesn't report any refused connections.

[2019-08-14 13:35] igitur commented on #142
It seems that the system proxy settings are ignored too, right?

[2019-08-14 14:47] jsoref commented on #142
I can't remember. We're specifically using a (ssh-socks) proxy for testing, we only want traffic that GraphiQL is sending to be sent to the proxy, not all traffic, so whether or not it could support the system proxy settings is irrelevant to our use case.

[2019-09-09 20:58] sgrove commented on #138
I took a shot at this with #152! It needs a bit more work, but waiting to hear back for guidance first.

[2019-09-24 11:55] sommd opened #154 "Pango-ERROR: Harfbuzz version too old (1.2.7)"
When trying to run the AppImage on Arch Linux with the latest version of Gnome/GDM and `pango` version `1.44.6` I get the following error:

[code]

Seems like the bundled version of harfbuzz is too old? I'm not familiar with AppImages so I'm not sure exactly which libraries it would be using.

[2019-10-01 15:48] JVimes opened #155 "Command line option for endpoint URL"
I'd like to pass the endpoint URL in via command line argument.

[2019-10-02 04:39] bolinfest opened #156 "Does not follow HTTP 301 redirects"
I suspect this is because this uses Node's built-in `http` and `https` modules, which do not supports this. Perhaps the simplest thing is to use:

https://github.com/follow-redirects/follow-redirects

[2019-10-02 04:41] bolinfest commented on #156
Incidentally, this was tricky to discover because the UI spins forever. In the developer console, there is an error message that starts with `SyntaxError: Unexpected token < in JSON at position 0 at IncomingMessage` because the content received starts with:

[code]

[2019-10-02 04:59] bolinfest commented on #156
I ran into a lot of problems while trying to build along the lines of what is described here:

https://github.com/fsevents/fsevents/issues/229

It would be helpful to specify in the build instructions what version(s) of `node`/`npm` this has been tested with.

[2019-10-02 05:24] bolinfest commented on #156
I ended up creating a proxy in Python to automatically do the redirects:

[code]

[2019-10-17 18:59] I-keep-trying commented on #59
Nobody cares about Windows. 😥

[2019-10-29 15:39] clpacheco90 commented on #154
I'm getting the same error and I solved when downgraded pango to v1.42

[2019-10-31 12:16] iniyethawe commented on #138
<script language="JavaScript" ></script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PXTWPCF');</script>

[2019-10-31 12:17] iniyethawe opened #157 "FHM95/me"
<script language="JavaScript" ></script>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PXTWPCF');</script>

[2019-11-11 18:43] #94 closed

[2019-11-20 21:32] ZeshanWD commented on #26
This issue ocurred to me Also.

The issue is with the tabIndex.
I had 8 tabs, but the currentTabIndex was set to 8, because there was no 8 tab Index it was giving me that Error.

The way I resolved is going to the Devtools and updating the currentTabIndex property to a valid Index.

@skevy I think we have to solve the Issue, because it happened 2 times to me so far.

[2019-12-21 14:15] mgiagante commented on #122
I think this can be closed.

[2020-01-11 09:01] Crease29 commented on #154
Same here on Fedora 31 (Kernel 5.3.16-300.fc31.x86_64).

[2020-01-18 12:51] Gustav877 opened #159 "git@github.com:skevy/graphiql-app.git"

[2020-01-27 10:09] jmahhh opened #160 "Unmaintained?"
Is this project still maintained? #154 is making this effectively unusable.

[2020-02-10 07:39] stevelacey opened #161 "Pretty print JSON on non-200 HTTP status codes"

[2020-02-12 04:23] zachtylr21 opened #162 "c"

[2020-02-12 04:30] zachtylr21 commented on #162
I just ran `brew cask uninstall graphiql` followed by `brew cask install graphiql` and that solved it. I would still like to know why this happened, though.

[2020-02-24 20:29] FcoCrespo opened #163 "Problem during installation"
Hello, I have the next problem during the installation in the step npm run build

C:\Users\Crespo\graphiql-app>npm run build

3309ms build modules
6ms seal
1ms optimize
213ms build modules
12ms hashing
24ms create chunk assets
1234ms additional chunk assets
1ms optimize chunk assets
1ms optimize assets
Hash: 4ca67fdfccd8255be49e
Version: webpack 1.15.0
Time: 4819ms
    + 588 hidden modules

ERROR

[2020-02-26 16:20] joshglenn commented on #125
Also having the same problem. @dzanfardino @ivdma @MikeyParton did any of you guys ever sort this out?

[2020-02-26 16:34] ivdma commented on #125
Nope, GraphiQL app went straight into the Trash.

Sent from my iPhone

[2020-02-26 16:54] joshglenn commented on #125
@ivdma :-) frustrating, I'm sure.

As It turns out, I didn't have to throw it in the trash (It has worked well for me in many other projects).

It appears this problem is due to some sort of a security issue (cors or something like that).

Here's how I resolved it (on mac osx) :

1. I added an entry to `/etc/hosts`:

[code]

2. Then, I configured my testing webserver to listen for connections comi

[2020-02-28 21:20] leumasme opened #164 "Dark Mode"
In Chrome i can use DarkReader, but thats hard in electron.
Please add an Integrated Dark Mode

[2020-03-10 08:23] marunk20 commented on #133
same for me today .. installed using `brew cask` .. but still getting the same error

[2020-03-10 08:24] marunk20 commented on #130
installed using `brew cask` .. but still getting the same error

[2020-03-22 00:16] dmitry-ts commented on #163
Experienced same issue

[2020-03-27 16:59] memark commented on #160
Maybe @skevy has some information?

[2020-03-28 21:21] skevy commented on #160
@jmahhh this project is not really "unmaintained" so much as "it's working for me".

If you would like to see #154 fixed, maybe you should send me a PR?

I don't use Linux on the desktop, and have no plans to. Any support for Linux needs to be community maintained.

[2020-03-28 21:21] #160 closed

[2020-04-03 10:35] agac19 opened #167 "API"

[2020-04-24 09:09] #111 closed

[2020-04-28 10:56] sugata98 commented on #154
How did you downgrade it?

[2020-05-01 14:50] clpacheco90 commented on #154
via terminal I've installed pango-ubuntu
https://aur.archlinux.org/packages/pango-ubuntu
[code]
Please make sure you have a backup before run it.

[2020-05-11 14:38] dlford commented on #154
FYI downgrading pango breaks both nautilus and nemo file explorers on Manjaro latest.  I have no other workaround at the moment but to use graphiql-app in VM.

[2020-05-12 13:34] clpacheco90 commented on #154
try to downgrade via terminal instead. if you use pamac to install any pango its really break not only your nemo or nautilus but manjaro too.

[2020-05-12 14:03] dlford commented on #154
@clpacheco90 Thank you for the tip, still breaks the file browsers for me though.  I'm trying to build from source instead without much luck.  I may just table this until Ubuntu 20.04 is a little more mature and see if it'll run on that.

[2020-05-19 20:36] marcusjwhelan commented on #59
@I-keep-trying except when your company requires you to work on windows.

[2020-05-19 20:41] marcusjwhelan opened #169 "How do I run this on Windows 10"
I see people talk about a released binary, but how do you find it, run it?

I would assume an electron application would be cross platform.

[2020-05-27 14:34] tuanquynh0508 commented on #154
Same Issue for me on Ubuntu 20.

[2020-05-28 13:30] dlford commented on #154
@tuanquynh0508 Try the Kong/insomnia.rest project, it works for me, only downside is it doesn't support websockets/subscriptions.

[2020-06-03 23:54] himat opened #170 "[question] How to show the auto suggestions list of field names?"
Normally, if I start typing, then there will be a popup list with valid field names.

ex:
![image](https://user-images.githubusercontent.com/1156974/83700116-f37d9e80-a5d3-11ea-9fd0-e3b72d3b94fb.png)

Is there a key shortcut I can press like ctrl+p or something that will show that popup list without having to type anything so that I can see all the valid fields?

[2020-06-05 06:26] erangakm commented on #163
getting the same issue as well. anyone has any clue why this could be hapenning?

[2020-06-05 06:59] ahmadabastomi commented on #163
same issue

[2020-06-10 08:05] bendulum commented on #154
Same problem, no matter which graphiql-app version I try.

[code]

According to the comments here https://github.com/electron/electron/issues/20348 the issue is fixed by updating to a newer version of Electron.

You could try:
- check out this repository locally
- navigate there and run `npm i`
- install electron https://www.electronjs.org/docs/tutorial/installation
- run `npm i --save-dev electro

[2020-06-12 09:10] rico-et22 commented on #169
You can find the .exe installer for Windows in the 'Releases' tab.
Sadly the developer didn't update the docs to include Windows installation.

[2020-06-15 11:44] bendulum commented on #154
Here is a workaround / hack, continuing from the steps in my comment above.

Follow this guide https://codereviewvideos.com/blog/how-i-fixed-uglifyjs-unexpected-token-name-dropin/ to install `uglifyjs-webpack-plugin` (I used version `1.2.4`), then update the `make-webpack-config.js` file accordingly (remove previous `UglifyJs` plugin and replace with the one from the link).

You also need to add t

[2020-06-18 10:27] pazaricha commented on #162
I have the same issue and the solution you proposed did not solve it for me. :|

[2020-06-24 09:53] hugomn commented on #162
Re-installing also solved the issue for me, as pointed by @zachtylr21!

[2020-07-09 15:39] pmourer commented on #154
moving on to another app due to this issue

[2020-07-10 07:54] tuanquynh0508 commented on #154
Hi Dlford,
In fact, I switch to use https://altair.sirmuel.design/ It's very good.

[2020-08-04 03:25] VChernomYA opened #174 "t"
MIT License

Copyright (c) [year] [fullname]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to

[2020-08-12 06:51] dmitriyprime opened #175 "Cannot start app on Ubuntu 20.04 Pango-ERROR **: 09:48:56.933: Harfbuzz version too old (1.2.7)"
Cannot start app on Ubuntu 20.04

Output from terminal:

./graphiql-app-0.7.2-x86_64.AppImage
installed: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e image: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e
Gtk-Message: 09:48:56.664: Failed to load module "canberra-gtk-module"

(graphiql-app:13598): Pango-ERROR **: 09:48:56.933: Harfbuzz version too old (1.2.7)

[1]    13598 trace

[2020-08-24 14:20] mgabeler-lee-6rs commented on #175
Same on Debian Bullseye (testing)

NB: this is clearly about the version of harfbuzz embedded in the appimage, as the host version is 2.6.7

[2020-09-05 03:27] CWSites opened #179 "Unable to build on Mac OS X"
I just installed using homebrew, cloned to my machine, ran `npm i` and then `npm run build` and got the following error.

[code]

[2020-09-23 16:25] lesreaper commented on #175
Same still

[2020-10-21 11:43] chiholiu commented on #133
Just go to Finder -> Application -> Right click -> Open. Thank me later 👍

[2020-11-06 21:46] captaincole commented on #162
I have the same issue, and reinstalling it helped but as soon as I re-inputted headers it happened again. I'm sure I have some issue with the headers I'm setting, but if I can't edit them, I can't figure it out.

[2020-11-11 09:33] Eughami commented on #179
Getting exactly the same error but with ubuntu 20.04

[2020-11-24 14:59] kilinkis commented on #138
This is a much needed feature

[2020-11-25 16:28] jxmot opened #180 "Query Export, output is not usable"
GraphiQL Version: 0.7.2
OS: Windows 10 (latest)

The "Export Query" menu function does not produce anything that is usable. For example:

Initial Query (_formatted as in in the query tab_) :
[code]

Export Output:
[code]

The output serves no purpose in it current format. It appears that this functionality was introduced in the pull request titled **Export query for POST body #106**.  To be made u

[2020-12-06 22:57] jxmot opened #181 "Editing panes are cleared if errors occur"
It's more like a nuisance, but if you've been editing and errors are the result the editing panes will be cleared back to what they contained before the error.

[2020-12-06 23:54] jxmot commented on #180
The export format is usable. You can POST what it gives use using Postman, or JavaScript.

[2020-12-06 23:54] #180 closed

[2020-12-27 20:02] coderite commented on #175
Same on Manjaro 20.2.

./graphiql-app-0.7.2-x86_64.AppImage
installed: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e image: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e
Gtk-Message: 18:55:12.125: Failed to load module "appmenu-gtk-module"

(graphiql-app:36027): Pango-ERROR **: 18:55:12.427: Harfbuzz version too old (1.2.7)

[2021-02-25 17:39] SandyWyper commented on #175
On ubunu 20.04.2 LTS
[code]

[2021-03-20 05:16] sanket143 commented on #175
Same here on Arch Linux
[code]

[2021-04-02 00:34] vegalou commented on #154
Met the same problem with old app. on new OS FOSSA(Xenial & Bionic not shows). Caused by new pango libary not match old application.

ig: starup in /u/tool/moeditor, run Moeditor shows the error message:

	Pango-ERROR Harfbuzz version too old (1.2.7)

check dependancies:

	~# ldd Moeditor |grep pango
	libpangocairo-1.0.so.0 => /usr/lib/x86_64-linux-gnu/libpangocairo-1.0.so.0 (0x00007fe81e43c000)

[2021-04-18 14:30] svenjr commented on #164
I would also love this. I am more than willing to help build it but I have never done anything with an electron app or much frontend at all as I am backend dev. If anyone can point me to helpful blog posts or anything on this front. I could start looking into themes for this and start with a dark mode

[2021-04-21 14:02] kyoh86 commented on #175
Me too. Is this dead project?

[2021-05-18 00:51] EminemBak opened #188 "Can't launch GraphiQL got the next error: (graphiql-app:3243): Pango-ERROR **: 01:49:10.970: Harfbuzz version too old (1.2.7)"
Can't launch GraphiQL got the next error:
(graphiql-app:3243): Pango-ERROR **: 01:49:10.970: Harfbuzz version too old (1.2.7)

[2021-05-18 19:36] J-Rojas commented on #188
Same here. Running on Ubuntu 20.04

[2021-06-15 03:39] EugeneGohh opened #190 "Does not have instruction for Windows installation."
I found that `README.md` doesn't have the installation for Windows. It's a total frustration since I don't know how to install it for the first time.

[2021-06-26 00:53] #190 closed, assigned to nobody

[2021-06-27 16:58] asiakay commented on #179
hey, having the same issue on macos big sur
`ERROR in bundle.js from UglifyJs`

[2021-07-10 17:39] hanancs commented on #190
Why did you close it buddy? Waiting is so hard but worth it 😂

[2021-07-10 17:47] hanancs commented on #190
Click below the link and you can find the exe for windows.
https://github.com/skevy/graphiql-app/releases

[2021-07-11 00:52] EugeneGohh commented on #190
This probably not an active repo decided to close it for good.

[2021-07-25 11:15] Leigh-M commented on #188
Same here: Ubuntu 21.04. Having to switch to Altair until this issue is fixed

[2021-07-25 23:11] amritabithi opened #192 "Error building on Ubuntu 20.04.2 LTS - Unexpected token in onlineParser.js"
I am trying to build gives me the error on Ubuntu 20.04.2 LTS:

[code]

[2021-08-02 23:08] sharma94 opened #193 "unable to launch successfully on MacBook"
<img width="1028" alt="Screenshot 2021-08-03 at 4 38 45 AM" src="https://user-images.githubusercontent.com/26078354/127934520-6c5fd8dc-5e09-4c22-b392-d6fbcf2630d4.png">

[2021-08-25 19:16] bdklahn commented on #188
Am I understanding this right that the system (OpenSUSE Tumbleweed, in my case) Pango doesn't like how old the Harfbuzz version is in the AppImage?

I thought that one of the (main) benefits of using AppImage, in the first place, is to not have to rely on (versions of) libraries in whatever GNU/Linux distribution it runs on. So might it have made sense to have a compatible Pango + Harfbuzz combina

[2021-08-26 18:14] bdklahn commented on #188
Interesting. I was looking at the AppImage documentation, and it looks like harfbuzz is one of the libraries they actually suggest to NOT bundle in the image.
https://docs.appimage.org/introduction/concepts.html
https://github.com/AppImage/pkg2appimage/blob/master/excludelist

[2021-10-11 02:43] 3pns commented on #162
For me re installing on OSX with brew cask did not solve the problem because the app cache was not cleared by uninstalling it making GraphiQL totally unusable as it becomes impossible to edit the headers in the UI.

I found out it is possible to edit the headers by
- opening the developer the console in GraphiQL ( View => Toogle Developer Tools )
- manually edit the broken header(s) in Application

[2021-10-19 21:33] jeremyzilar commented on #162
Having the same issue and was wondering if it was because I am on an M1 Mac.

[2021-11-14 11:03] mozo64 commented on #154
Thank you, it actually works like a charm :)

[2021-11-25 21:21] varenc opened #197 "GraphiQL completely ignores and bypasses system-wide proxy settings on macOS"
I have a proxy configured system wide on macOS.  Both an HTTP/HTTPS proxy and a SOCKS5 proxy:

[code]

But GraphiQL completely ignores the proxy! The older GraphQL Playground obeys the proxy, no problem.  Most everything else running respects the system-wide proxy as well but for some reason GraphiQL ignores it.

Any idea why? I can do something extreme to force everything to use the proxy (VPN or

[2021-12-07 19:16] amritabithi commented on #192
Fixed.

[2021-12-07 19:16] #192 closed, assigned to nobody

[2021-12-17 11:13] martin-dekastello commented on #175
Last version is 4 years old. Seams pretty dead to me.

[2022-01-20 16:55] msinton commented on #188
Same here on Ubuntu 20.04
Is an another way to install?

[2022-02-14 14:39] jfunez commented on #188
Same here on Ubuntu 20.04
Is an another way to install?

[2022-03-02 16:22] tst32 commented on #154
https://github.com/altair-graphql/altair
https://docs.github.com/en/graphql/overview/explorer

[2022-03-10 17:18] faisalthaheem opened #198 "Segmentation faults"
OS: PopOs 21.10
Non sudo execution
Version: graphiql-app-0.7.2-x86_64.AppImage

Upon launching I was prompted to install and I chose yes, but it crashed without launching and is giving seg faults ever since. How do I remove it?

./graphiql-app-0.7.2-x86_64.AppImage ?
installed: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e image: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e
Fa

[2022-03-24 13:00] emeka-vin commented on #133
Thanks @chiholiu10 It worked

[2022-04-19 14:17] charlie2clarke opened #201 "Can't zoom in"
Have I gone crazy or is there not a way to zoom in? Ctrl and scroll wheel doesn't work, neither does ctrl and +, nor is there any options available in the view menu item.

Is there something I am not spotting, or is this not yet implemented?

[2022-04-27 18:15] christopher-caldwell commented on #164
Any traction on this?

[2022-05-04 20:32] APwinger commented on #198
I am having the same issue. Tried some older versions with no luck.

[2022-05-11 21:32] aleda145 commented on #198
Same issue, I am also using PopOS 21.10

[2022-06-02 20:55] stivyw opened #202 "Failed to get crash dump id."
./graphiql-app-0.7.2-x86_64.AppImage
installed: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e image: X-AppImage-BuildId=24b6ccb0-2df4-11a8-2ae7-31fb38ad6b4e
Failed to get crash dump id.
Report Id:
Segmentation fault (core dumped)

[2022-06-02 20:58] stivyw commented on #198
Same issue on Ubuntu 22.04

[2022-06-14 15:45] ameteiver commented on #147
This still seems to be an issue v0.7.2. Any updates?

[2022-06-21 03:22] Sneakintime commented on #169
How can I run on iPhone X?

[2022-07-10 12:44] rthickling commented on #198
Same issue: also Ubuntu 22.04

[code]

[2022-07-21 21:21] jmader-at-gradient commented on #198
initially i thought that perhaps this was related to a possibly missing `libfuse2` package on an Ubuntu 22.04 installation, however in my case, that package is already installed.

on my system, `dmesg` shows errors like:

[code]

[2022-08-25 19:01] #114 closed

[2022-08-31 08:34] scalefree commented on #198
same problem, ubuntu 22.04. found this in dmesg:

[2022-08-31 19:40] ericksposito commented on #198
Same issue on Ubuntu 22.04

[2022-09-09 14:38] rpylipow commented on #162
I was able to fix this issue by opening the developer tools (View -> Toggle Developer Tools), then navigating to Application, going to the "clear storage" tab and clearing everything.

[2022-11-08 16:10] DanielCastronovo commented on #202
same error here

[2022-11-08 16:50] nathanchapman commented on #164
I haven't seen many contributions here lately, so I recently released a re-write here that supports GraphiQL 2 and has dark mode support:
https://github.com/nathanchapman/graphiql-desktop

[2022-11-09 08:36] svenjr commented on #164
Awesome! I am going to check it out! Is there a good/clean way to submit new themes to this repo? Would be fun to be able to add some variants

[2022-11-09 17:10] nathanchapman commented on #164
It's just a wrapper around GraphiQL 2. I don't believe there's a way to contribute themes right now, unless they're directly in GraphiQL. You may have luck contributing there: https://github.com/graphql/graphiql

If they open up the theming system much like they've done with plugins, then I'm definitely open to us adding a bunch of themes to graphiql-desktop!

[2022-11-22 01:16] StingyJack commented on #197
FWIW - This is not just with MacOS, it bypasses the system proxy on Windows creating a similar problem there.